@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
body {
    height: 100vh;
}

.form__grp {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.5rem 1rem 0 1.5rem;
}
