@tailwind base;
@tailwind components;
@tailwind utilities;
input,
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
body {
    padding: 20px;
}

.form__grp {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2.5rem 1rem;
}
